.page {
  height: 100%;
  font-family: $basic-font;
}

.page__body {
  min-width: 375px;
  min-height: 100%;
  padding: 26px 0;
  @media #{$desktop} {
    padding: 67px 0;
  }
}

.page__cards {
  @include list-reset;
  margin: 0 auto;
}
